ipad-app/.DS_Store
ipad-app/FlightApp.xcodeproj/project.xcworkspace/xcuserdata/
ipad-app/FlightAppV2.xcodeproj/xcuserdata/
ipad-app/FlightAppV2.xcodeproj/project.xcworkspace/xcuserdata/
ipad-app/FlightApp.xcodeproj/xcuserdata/
web-service/logs
web-service/project/project
web-service/project/target
web-service/target
web-service/tmp
web-service/.history
web-service/dist
web-service/.idea
web-service/*.iml
web-service/out
web-service/.idea_modules
web-service/.classpath
web-service/.project
web-service/.settings
web-service/RUNNING_PID
web-service/**.class
web-service/.target
web-service/.DS_Store
web-service/**/.DS_Store
